<div id="<%= dom_id user %>">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Avatar</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= user.id %></td>
      <td>
        <%= link_to image_tag(user.avatar_as_thumbnail), user.avatar, target: "blank"%>
      </td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.age %></td>
    </tr>
  </table>
</div>
