<!--<header class="navbar navbar-fixed-top navbar-inverse">-->
<!--  <div class="container">-->
<%#= link_to "sample app", root_path, id: "logo" %>
<!--    <nav>-->
<!--      <div class="navbar-header">-->
<!--        <button type="button"-->
<!--                class="navbar-toggle collapsed"-->
<!--                data-toggle="collapse"-->
<!--                data-target="#bs-example-navbar-collapse-1"-->
<!--                aria-expanded="false">-->
<!--          <span class="sr-only">Toggle navigation</span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
<%# if logged_in? %>
<!--          <li class="dropdown">-->
<!--            <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--              Account <b class="caret"></b>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><%#= link_to "Profile", current_user %></li>-->
<!--              <li>-->
<%#= link_to "Log out", logout_path, method: :delete %>
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->
<%# else %>
<!--          <li><%#= link_to "Signup", signup_path %></li>-->
<!--          <li><%#= link_to "Log in", login_path %></li>-->
<%# end %>
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->
<!--</header>-->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Tinder Clone", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if logged_in? %>
          <li class="dropdown">
          <li><%= link_to "Profile", current_user, class: "nav-link" %></li>
          <li><%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %></li>
          </li>
        <% else %>
          <li><%= link_to "Signup", signup_path, class: "nav-link" %></li>
          <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>